---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Versatile and curious professional with a passion for learning. Team-minded
    and perfection-driven, I thrive on challenges, constantly seeking innovative
    solutions. Committed to excellence and collaborative success, I'm eager to
    contribute to dynamic projects that foster continuous growth and
    development.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University Degree in Telecommunications "
      subtitle="EUITT - Universidad Politecnica de Madrid, Spain"
    />
    <TimeLineElement
      title="Certificate of Higher Education in Developing software applications"
      subtitle="I.E.S Palomeras - Vallecas, Madrid, Spain"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior fullstack engineer at PlanPay"
      subtitle="From December 2022 until now at Sydney, Australia"
    >
      I am one of the lead engineers of a small team in charge of implementing
      key product features as well as working closely with our product owner to
      analyse and break down into small technical tasks that can be gradually
      implemented ( lean development ). These are some of the task where I have
      been involved:
      <div class="pl-10">
        <ul class="list-disc">
          <li>Transactional email notification service</li>
          <li>
            Refactor the core instalment calculation, allowing the final
            customer to have a tailored plan based on their needs
          </li>
          <li>Add ecommerce google analytics as well as custom analytics</li>
          References: Product owner: <a
            href="mailto:patrick.charriere.pro@gmail.com">Patrick Charriere</a
          >
        </ul>
      </div>
      Used Technologies:
      <div class="md:columns-5 columns-2 mx-6 pl-5">
        <ul class="list-disc">
          <li>NextJS</li>
          <li>Prisma</li>
          <li>Typescript</li>
          <li>tRPC</li>
          <li>Playwright</li>
          <li>Cucumber.js</li>
          <li>K9s</li>
        </ul>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Senior fullstack engineer at Palo IT "
      subtitle="From August 2021 to December 2022 at Sydney, Australia"
    >
      Working in this consultancy I have got the chance to work in the following
      projects:
      <div class="pl-10">
        <ul class="list-disc">
          <li>
            International Bank: In a team of 3 members I was the team lead in
            charge of discovering how their backend system works, gathering all
            the information/context needed to develop on their complex system.
            Also, I was in charge of onboarding new Palo members into our team.
            Used Technologies:
            <div class="pl-5 text-sm">
              Used technologies: Java/Spring Boot micro services using Mulesoft
              architecture Learnings: Mulesoft architecture
            </div>
          </li>
          <li>
            IAG: The project was about developing an IPAD app to upload a car
            crash report. We were 3 engineers on the team, 2 frontends and only
            me as a backend. The app uploads all the pictures labelled into a S3
            Bucket. Here the challenge was pushing more than 300 images in one
            hit to the backend. I created a small react app to display analytics
            we took internally from the uploaded reports.
            <div class="pl-5 text-sm">
              Used Technologies: Nest.js, Typescript, AWS S3 and AWS RDS(
              PostgreSQL ) Learnings: SwitfUI, backend stream processing
            </div>
          </li>
          <li>
            BlockTrust: I worked in this project and I was In charge of
            developing vertical features on a product composed by: Vendure.io as
            a NFTs marketplace, backend with nest.js/graphql, frontend
            react.js/web3auth to authentication.
            <div class="pl-5 text-sm">
              Used Technologies: Vendure.io, BlockChain, Nest.js, GraphQL,
              Reactjs, web3auth Learnings: BlockChain, GraphQL, Reactjs,
              web3auth
            </div>
          </li>
        </ul>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Software engineer"
      subtitle="From April 2019 to August 2021 at Sydney, Australia"
    >
      Jobs done as a freelancer:
      <div class="pl-10">
        <ul class="list-decimal">
          <li>
            Migrating <a target="_blank" href="https://www.opengate.es"
              >OpenGate</a
            > web application from Angular v1 to Nuxt.js
            <br />
            Sub-tasks:
            <ul class="list-disc pl-10">
              <li>
                Migrating/Sanitice 1700 gherkin scenarios implemented with
                Cucumber.js and Protractor
              </li>
              <li>Web application migration ( Angular to Nuxt.js )</li>
            </ul>
            Achievements:
            <ul class="list-disc pl-10">
              <li>Reduced e2e execution time by 70%</li>
              <li>Reduced to none all the Flaki tests</li>
            </ul>
          </li>
          <li>Development an application to manage wind turbine farms</li>
          Sub-tasks:
          <ul class="list-disc">
            <li>Develop backend using GoLang</li>
            <li>
              Implement the protocols used by the turbines: custom protocol over
              TCP, Telnet, SOAP
            </li>
            <li>
              Export an API REST ( using gin-gonic/gin ) to be consumed by a
              desktop application coded on Electron/Quasar/Vuejs
            </li>
          </ul>
        </ul>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Senior software engineer at BBVA Spain"
      subtitle="From November 2017 to April 202019 at Madrid, Spain"
    >
      I was a member of a team called Global Net banking applications
      optimization. Our main goal was developing a testing framework used by
      other engineers in the company to automate the testing. We were in charge
      of teaching other developers how to improve their testing quality by
      having a balanced amount of unit, integration and e2e testing. We
      developed tools like:
      <div class="pl-10">
        <ul class="list-disc">
          <li>
            Test data recording to avoid burning irreplaceable data after
            executing the test. It was done by adding a man in the middle
            between all the internal services and the app, and then replace
            those services by a fake server which mocks the responses
          </li>
        </ul>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Software developer at Amplia Soluciones S.L."
      subtitle="From Jun 2010 to October 2017 at Madrid, Spain"
    >
      In this small company is where I grew up as a software engineer. I worked
      with them for more than 7 years. I will write down an highview of the
      different task I worked on:
      <div class="pl-10">
        <ul class="list-disc">
          <li>Development Java Swing Desktop application, 3 months</li>
          <li>Development C# Desktop application, 2 months</li>
          <li>Development Java REST-API ( product ), 3 years</li>
          <li>Development Angular application</li>
          <li>Develop a CI using Jenkins and Grunt.js</li>
        </ul>
      </div>
      Major achievements:
      <div class="pl-10">
        <ul class="list-disc">
          <li>Promoted from junior up to leading medium size teams</li>
          <li>
            Working with third party companies to integrate their devices into
            our iot system
          </li>
        </ul>
      </div>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.credly.com/badges/00bb386b-40cf-4b1d-8779-6adc3b813f23/linked_in_profile"
        target="_blank"
      >
        AWS Certified Solutions Architect {"-"} Associate</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/a912d46c-90d0-4d25-8a43-0110ec5eb7db/linked_in_profile"
        target="_blank"
      >
        Professional Scrum Developer™ I (PSD I)</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/755bddbe-f75b-42c7-a1a7-1232648d69c8/linked_in_profile"
        target="_blank"
      >
        Professional Scrum Master™ I (PSM I)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tech Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Git</li>
    <li>NodeJS</li>
    <li>Typescript</li>
    <li>ReactJS/NextJS</li>
    <li>Prisma</li>
    <li>tRPC</li>
    <li>VueJS/Nuxt</li>
    <li>AWS</li>
    <li>Golang</li>
    <li>CucumberJS</li>
    <li>Playwright</li>
    <li>SQL</li>
    <li>MongoDB</li>
  </ul>
</BaseLayout>
