---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Victor Gutierrez</div>
    <div class="text-3xl py-3 font-bold">
      Fullstack Software Engineer and Professional Barista
    </div>
    <div class="py-2">
      <text class="text-lg">
        <p>
          I would like to share with you a bit of who I am inside and outside
          work. One of my main hobbies is doing sport, almost any kind of sport
          climbing, swimming, running, cycling and so on. I am a strong believer
          of having a well balanced life because if I include every day a bit of
          exercise, a proper sleep and good quality food, I can perform 100% to
          my capacity and what is even more important, happier. As far as I
          know, the way to achieve that balance is by being disciplined.
        </p>
        <p class="pt-5">
          Also, I reckon that you shouldn't be defined by your profession, your
          definition should be much more complex. That is why I not only
          consider myself as a Fullstack Software Engineer, I am also
          professional barista and head baker of my home &#128521; &#x1F609;
        </p>
        <div class="divider my-0"></div>

        <div class="flex flex-col justify-center items-center pt-5">
          <span>Everything looks different with a good coffee close to you!</span
          >
          <Image
            src="/coffee.jpeg"
            aspectRatio="1:1"
            width={750}
            format="jpeg"
            alt="Making my own coffee at the office"
            class="max-w-full md:max-w-[13rem] rounded-lg mt-5 mb-5"
          />
        </div>
      </text>

      <text class="text-sm">Visa: Permanent resident<br /> Hobart (Tasmania) based</text>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">
        My personal projects {"</>"}
      </div>
    </div>
    {
      projects.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/project/" + post.slug}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
    }
    <div class="text-center pt-10">
      <a
        href="/cv"
        class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Check my CV
        <svg
          class="w-4 h-4 ml-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </a>
    </div>
  </div>
</BaseLayout>
